* {
    font-family: 'Roboto', sans-serif;
}
.side-nav{
    height: 100%;
    width: 335px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background-color: #111;*/
    background-image: url(https://images.unsplash.com/photo-1668285410063-4e5f2686b55d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-size: cover;
    overflow: hidden;
    padding-top: 20px;
}

.main-body {
    margin-left: 160px;
    padding: 0px 10px;
}

.top-body {
    /*border: 2px solid black;*/
    padding-bottom: 10px;
}

.form-body {
    box-shadow: 0 0 50px #ccc;
    width: 74vw;
    height: 77vh;
    margin-right: 0px;
    margin-left: 160px
}

.bottom-body {
    /*border: 2px solid black;*/
    padding-top: 10px;
    margin: 0px 160px;
}

input {
    width: 25%;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 6-x;
}

label {
    display: grid;
    width: 15em;
    margin-right: .5em;
    padding-top: 1.5em;
}

div > p {
    height: auto;
    color: #FFFFFF;
    font-size: 1.5em;
    border: 3px solid #FFFFFF;
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
}

button {
    background-color: #CFB284;
    border: 2px solid #FFFCC7;
    border-radius: 6px;
    font-size: 16px;
    padding: 16px;
}